<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slither-In Home</title>
  <!--Bulma CSS framework link-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </link>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="px-0 mx-0 mr-0 pl-0 pr-0">
  <section class="hero is-primary is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">

    <nav class="navbar has-background-info-dark">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/pics/SiltherIn.png" alt="Slither-In">
          </a>
           <!-- <h1 class="is-size-2 has-text-white has-text-weight-bold mx-5 my-2">Tech Mindshare</h1> -->
            <a class="navbar-burger" id="burger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="navbar-menu" id="nav-links">
          <div class="navbar-end">
            <a class="navbar-item is-active" href="/">
              Home
            </a>
            {{#if logged_in}}
            <a class="navbar-item is-active" id="logout-button">
              Logout
            </a>
            <a class="navbar-item is-active" href="/animal">
              Create Animal
            </a>
            {{else}}
            <a class="navbar-item is-active" href="/login">Login</a>
            {{/if}}
          </div>
        </div>
      </div>
    </nav>

  </div>
   <div class="hero-body" id="navbarMenuHeroA">
    <div class="container has-text-centered">
      <p class="title is-1">
        Slither-In
      </p>
      <p class="subtitle">
        Welcome
      </p>
    </div>
  </div>
  </section>
  
  </div>
  <div>
    <main class="container container-fluid mt-5 px-0 mx-0 px-0 mx-0 mr-0 pl-0 pr-0">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/script.js"></script>
</body>

</html>