<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slither-In Home</title>
  <!--Bulma CSS framework link-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </link>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <section class="hero is-primary is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
<!--
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="/pics/SiltherIn.png" alt="Logo">
          </a>
           <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span> 
        </div>
-->

    <nav class="navbar has-background-info-dark">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="/pics/SiltherIn.png" alt="Logo">
          </a>
           <!-- <h1 class="is-size-2 has-text-white has-text-weight-bold mx-5 my-2">Tech Mindshare</h1> -->
            <a class="navbar-burger" id="burger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" href="/">
              Home
            </a>
            {{#if logged_in}}
            <a class="navbar-item is-active" id="logout-button">
              logout
            </a>
            <a class="navbar-item is-active" href="/animal">
              Create Animal
            </a>
            {{else}}
            <a class="navbar-item is-active" href="/login">login</a>
            {{/if}}
          </div>
        </div>
      </div>
    </nav>
  </div>
   <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-1">
        Slither-In
      </p>
      <p class="subtitle">
        Welcome
      </p>
    </div>
  </div>
  </section>
  
  <!-- Conditionally render login or logout links -->
  <!-- {{#if logged_in}}
  <button class="navbar-item button" id="logout">logout</button>
  <button class="navbar-item button" id="create" href="/form">Create Animal</button>
  <input class="navbar-item button" id="search-bar" type="text" placeholder="Search..">
  {{else}}

  <a class="navbar-end" href="/login">login</a>
  {{/if}}
 

  </div> -->
  <div>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>