<form action="/target">
    <section id="firstRow">
        <form action="/pics" class="dropzone" id ="my-form"></form>
        <pre id ="output"></pre>
        <div class ="formCard">
            <p>Name or ID:</p>
            <input type="text" id="name">
        </div>
        <div class="formCard">
            <p>Type:</p>
            <select name = "type" id = "type">
                <option value="snake">Snake</option>
                <option value="lizard">Lizard</option>
                <option value="tortoise">Tortoise</option>
                <option value="misc">Misc</option>
            </select>
        </div>
        <div class="formCard">
            <p>Species:</p>
            <select name="species" id="species">
                {{!-- species populated by javascript dynamically --}}
            </select>
        </div>
        <div class="formCard">
            <p>Sex</p>
            <select name = "sex" id = "sex">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <div class="formCard">
            <p>Age:</p>
            <select name="age" id="age">
                <option value="underYear">Less Than One Year</option>
                <option value="oneYear">1 Year</option>
                <option value="twoYear">2 Years</option>
                <option value="threeYear">3 Years</option>
                <option value="fourYear">4 Years</option>
                <option value="fiveYear">5 Years</option>
                <option value="sixYear">6 Years</option>
                <option value="sevenYear">7 Years</option>
                <option value="eightYear">8 Years</option>
                <option value="nineYear">9 Years</option>
                <option value="tenYear">10 Years</option>
            </select>
        </div>
    </section>
    <section id="secondRow">
        <div class="formCard">
            <p>Pattern/Morph:</p>
            <input type="text" id="pattern">
        </div>
        <div class="formCard">
            <p>Description/Notes:</p>
            <input type="text" id="description">
        </div>
        <div class="formCard" id="maleHidden">
            <p>Gravid</p>
            <input type="checkbox" id="gravid" name="gravid">
            <p id ="gravidChecked">Expect eggs in 28 to 48 days</p>
        </div>
        <div class="formCard">
            <p>For Sale</p>
            <input type="checkbox" id="forSale" name="forSale">
        </div>
        <div class="formCard" id="maleHidden">
            <p>Deceased</p>
            <input type="checkbox" id="deceased" name="deceased">
        </div>
        <div class="formCard">
            <p>Breeding History</p>
            <input type="text" id="breeding">
        </div>
    </section>

    <div id="sidepanel">
        <div class="formCard">
            <p>Male Parent</p>
            <button id="maleAdd">Add Parent</button>
        </div>
        <div class="formCard">
            <p>Male Parent</p>
            <button id="femaleAdd">Add Parent</button>
        </div>
    </div>
    <button id = "submitForm">Add Animal</button>
</form>

<script src="/js/animal.js"></script>