.formCard {
   background-color: silver; 
   margin: 5em;

}

#firstRow {
    display: inline;
    max-height: 30%;
}

#secondRow {
    display: inline;
    max-height: 30%;
}

#sidepanel {
    width: 20%;
    right: 0;
}

#maleHidden {
    visibility: hidden;
}

#gravid {
    visibility: hidden;
}

#displaySignup:hover {
    cursor: pointer;
    color: lightblue;
}

#signup {
    visibility: hidden;
}

.dropzone {
    border: 4px solid blueviolet;
    color: blueviolet;
    margin: 2rem 0;
  }